*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.white{
    color: white;
}

.container{
    width: 100%;
    height: calc(100vh - 80px);
    background-color: black;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding-top: 30px;
}

.speaker-view{
    background-color: black;
    height: 30px;
    width: 100%;
    font-size: 80%;
    display: flex;
    justify-content: flex-end;
    padding: 3px;
}

.speaker-view > div{
    height: 20px;
    line-height: 20px;
    background-color: grey;
    margin-left: 5px;
    border-radius: 3px;
    padding: 1px 4px;
}

.item{
    height: 100px;
    position: relative;
    margin: 5px;
}

img{
    height: 100%;
}

.targhetta{
    background-color: rgba(102, 102, 102, 0.6);
    font-size: 80%;
    padding: 2px 4px;
    position: absolute;
    left: 0;
    bottom: 0;
}

footer {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #222222;
    justify-content: space-between;
    
}

.foot {
    display: flex;
    align-items: center; 
}

.foot-left > .icon {
    margin: 0 10px;
}


.foot-center > .icon {
    margin: 0 10px;
}

.icon-image {
    text-align: center;
}

.icon span{
    font-size: 80%;
}

.freccia{
    font-size: 60%;
    height: 22px;
}

.fa-share-square{
    color: #00CB00;
}

.foot-right{
    font-size: 80%;
    color: red;
    padding: 0 10px;
    background-color: #4A4A4A;
}